/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: var(--black-color);
    height: 46px;
    align-items: center;
    width: 100%;
   
}
.navbar-left{
    margin-left: 18px;
}
.navbar-left__link:nth-child(3){
    border: none;
}

.navbar-left__mail{

}
.navbar-left__link{
    text-decoration: none;
    color: var(--white-color);
    padding: 4px 20px 4px 0;
    margin-right: 20px;
    border-right: 1px solid #666;
}

.navbar-left__phone{

}

.navbar-left__address{

}

.navbar-left__icon{
    color: var(--primary-color);
    margin-right: 12px;
}

.navbar-right{
    display: flex;
    align-items: center;
}
.navbar-right__link{
    text-decoration: none;
    color: var(--white-color);
}

.navbar-right__icon{
    padding: 8px 16px 8px 4px;
    
}
/* Navbar language */
.navbar-right__language{
    position: relative;
}


.navbar-right__language-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    text-decoration: none;
    margin-left: 16px;
    color: var(--white-color);
    background-color: #3abdc1;
    height: 46px;
    font-weight: 500;
}

.navbar-right__language-icon{
    margin-left: 4px;
}


.navbar-right__language-list{
    position: absolute;
    top: 100%;
    right: 0;
    width: 140px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: var(--primary-color);
    /* padding: 10px 0 10px 0 ; */
    padding: 0;
    height: 0px;
    /* transform-origin: top 50%; */
    transition: padding linear 0.1s,height linear 0.2s;
    z-index: -1;
}

.navbar-right__language-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: 500;
    padding: 12px 8px;
    color: var(--white-color);
    cursor: pointer;
}
.hover-underline--white{
    position: relative;
    cursor: pointer;
}
.hover-underline--white::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0px;
    height: 2px;
    border-radius: 3px;
    background-color: var(--white-color);
    z-index: 1;
    transition: width linear 0.2s;
}

.slide-active__place-name:hover .hover-underline--white::before,
.navbar-right__language-item:hover .hover-underline--white::before{
    width: 100%;
    cursor: pointer;
}

.navbar-right__language:hover .navbar-right__language-list{
    height: 134px;
    padding: 10px 0 10px 0;
    z-index: 2;
}

.navbar-user{
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 45px;
    height: 46px;
    background-color: var(--primary-color);
}

.navbar-user__img{
    height: 24px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.navbar-left__link:hover,
.navbar-right__link:hover,
.navbar-right__language-icon:hover,
.header-utilities__icon:hover{
    color: var(--primary-color);
    cursor: pointer;
    transition: color linear 0.2s;
}

.navbar-right__language-icon:hover{
    color: var(--white-color);
}

/* Header */
.header{
    height: 80px;
    display: flex;
    background-color: var(--white-color);
    position: absolute;;
    inset: 0;
    z-index: 10;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    margin-left: 20px;
}

.header__logo a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-img{
    height: 48px;
    object-fit: contain;
}

.header-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex: 1;
    height: 100%;
    margin: 0;
    margin-right: 72px;
}

.header-item{
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item__link{
    text-decoration: none;
    font-size: 1.45rem;
    font-weight: 600;
    color: var(--black-color);
    padding: 0 37px ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-utilities{
    margin-left: auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}

.header-utilities__icon{
    margin-right: 20px;
    padding: 12px 4px;
    font-size: 1.8rem;
}

.header-item__link:hover{
    color: var(--primary-color);
    opacity: 0.8;
}

.header-item__link:hover .hover-underline--primary::before{
    width: 100%;
}

.header-item__link.header-item--active{
    color: var(--primary-color) ;
}

/* subnav menu*/
.header-item:hover .subnav-menu{display: block;}
.subnav-menu{
    background-color: var(--white-color);
    list-style: none;
    width: 255px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    /* display: none; */
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-out, opacity 0.4s ease-out;
}

.header-item__menu{
    overflow: hidden;
}
.header-item__menu:hover{
    overflow: visible;
}
.header-item:hover .subnav-menu{
    height: 360px;
    opacity: 1;
}


.header-mobile__menu-bgr{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

/* subnav page */
/* .header-item:hover .subnav-pages{display: block;} */
.subnav-pages{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    list-style: none;
    background-color: var(--white-color);
    width: 260px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    /* display: none; */
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-out, opacity 0.4s ease-out;
}

.header-item__page{
    overflow: hidden;
}
.header-item__page:hover{
    overflow: visible;
}
.header-item__page:hover .subnav-pages{
    height: 296px;
    opacity: 1;
}

/* subnav destination */
/* .header-item:hover .subnav-destinations{display: block;} */

.subnav-destinations{
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    background-color: var(--white-color);
    padding: 0;
    list-style: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    /* display: none; */
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-out, opacity 0.4s ease-out;
}

.header-item__destinations{
    overflow: hidden;
}
.header-item__destinations:hover{
    overflow: visible;
}
.header-item__destinations:hover .subnav-destinations{
    height: 136px;
    opacity: 1;
}

/* subnav tours */
/* .header-item:hover .subnav-tours{display: block;} */
.subnav-tours{
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    background-color: var(--white-color);
    list-style: none;
    padding: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-out, opacity 0.4s ease-out;
    /* display: none; */
}
.header-item__tours{
    overflow: hidden;
}
.header-item__tours:hover{
    overflow: visible;
}
.header-item__tours:hover .subnav-tours{
    opacity: 1;
    height: 168px;
}
.subnav-blog__item{
    position: relative;
}

/* subnav blog */
/* .header-item:hover .subnav-blog{display: block;} */
.header-item__blog:hover .subnav-blog{
    height: 136px;
    visibility: visible;
    opacity: 1;
}
.subnav-blog{
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    list-style: none;
    background-color: var(--white-color);
    padding: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    /* display: none; */
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-out, opacity 0.4s ease-out;
}
.header-item__blog{
    overflow: hidden;
}

.header-item__blog:hover{
    overflow: visible;  
}
.subnav-blog__item{
    overflow: hidden;
}
.subnav-blog__item:hover{
    overflow: visible;
}
.subnav-blog__item-icon{
    margin-left: auto;
}

/* dropdown blog */
.blog-dropdown__list{
    list-style: none;
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1;
    width: 260px;
    padding: 0;
    background-color: var(--white-color);
    opacity: 0;
    transition: opacity linear 0.2s;
    /* display: none; */
}
.subnav-blog__item:hover .blog-dropdown__list,
.subnav-blog__item:hover .blog-dropdown__list-last{
    /* display: block; */
    opacity: 1;
}

.blog-dropdown__list-last{
    list-style: none;
    position: absolute;
    top: -30px;
    left: 100%;
    z-index: 1;
    width: 260px;
    padding: 0;
    background-color: var(--white-color);
    opacity: 0;
    transition: opacity linear 0.2s;
    /* display: none; */
}

/* subnav shop */
/* .header-item:hover .subnav-shop{display: block;} */
.subnav-shop{
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    background-color: var(--white-color);
    padding: 0;
    list-style: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    height: 0px;
    opacity: 0;
    transition: height 0.2s ease-out,opacity 0.4s ease-out;
    /* display: none; */
    visibility: hidden;
}

.header-item__shop:hover .subnav-shop{
    height: 168px;
    visibility: visible;
    opacity: 1;
}

.subnav-shop__item{
    position: relative;
    overflow: hidden;
}
.subnav-shop__item:hover{
    overflow: visible;
}
.suvnav-shop__content{
    margin-left: auto;
}

.shop-dropdown__list{
    list-style: none;
    position: absolute;
    top: -30px;
    right: 100%;
    z-index: 1;
    width: 260px;
    padding: 0;
    background-color: var(--white-color);
    opacity: 0;
}
.subnav-shop__item:hover .shop-dropdown__list{
    opacity: 1;
    transition: opacity linear 0.2s;
}

.shop-dropdown__content{
    margin-left: auto;
}
.subnav-shop__item:hover .shop-dropdown__list{
    display: block;
    opacity: 1;
    transition: opacity linear 0.2s;
}

.shop-dropdown__list-last{
    list-style: none;
    position: absolute;
    top: -30px;
    right: 100%;
    z-index: 1;
    width: 260px;
    padding: 0;
    background-color: var(--white-color);
    opacity: 0;
}

.subnav-shop__item:hover .shop-dropdown__list-last{
    opacity: 1;
    transition: opacity linear 0.2s;
}

/* subnav elements */
.header-item__elements{
    overflow: hidden;
    z-index: 3;
}
.header-item__elements:hover{
    overflow: visible;
}
.subnav-element__item-link{
    padding: 10px 68px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}
.subnav-element__item-heading{
    color: var(--primary-color);
    cursor: default;
}

.subnav-elements{
    position: absolute;
    top: 100%;
    left: -75vw;
    min-width: 102vw;
    display: flex;
    list-style: none;
    padding: 40px 125px 44px;
    background-color: var(--white-color);
    /* box-shadow: 0 0 2px 2px rgba(0,0,0,0.1); */
    box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.1);
    height: 0px;
    opacity: 0;
    transition: height 0.1s ease-out,opacity 0.6s ease-out;
}

.header-item__elements:hover .subnav-elements{
    height: 444px;
    opacity: 1;
}

.subnav-element__list-big{
    list-style: none;
}
.subnav-element__list-small{
    list-style: none;
    padding: 0;
}
.subnav-element__item{

}
.subnav__link{

}

.subnav-element__list-big:first-child{
    margin-left: auto;
}

.subnav-element__list-big:last-child{
    margin-right: auto;
}


.header-cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* overflow: hidden; */
}
.header-cart__no-cart{
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    background-color: var(--white-color);
    padding: 0;
    list-style: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    height: 0px;
    opacity: 0;
    transition: height 0.2s ease-out,opacity 0.4s ease-out;
    /* visibility: hidden; */
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    color: var(--black-color);
    padding: 20px 30px;
    display: flex;
    transition: height 0.1s ease-out,opacity 0.6s ease-out;

}
.header-cart:hover{
    overflow: visible;
}
.header-cart:hover .header-cart__no-cart{
    height: 56px;
    opacity: 1;
}


.search-bgr{
    position: fixed;
    inset: 0;
    background: rgba(65, 207, 250, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;
    /* display: flex; */

}

/* modal search */
.search-bar{
    width: 930px;
    max-width: 100%;
   height: 82px;
   display: flex;
   z-index: 1;
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.search-btn{
    color: var(--white-color);
}
.menu-close,
.search-btn{
    position: absolute;
    top: 0;
    margin: 5px;
    right: 0;
    font-size: 2.5rem;
    padding: 14px;
    cursor: pointer;
}
.menu-close:hover,
.search-btn:hover{
    color: var(--primary-color);
}

.search-bar__input{
    outline: none;
    flex: 1;
    height: 100%;
    border: none;
    padding: 0 35px;
   font-size: 1.4rem;
}
.search-bar__btn{
    padding: 12px 72px 12px;
    height: 100%;
    outline: none;
    border-radius: 0;
    border: 0;
    font-size: 1.3rem;
    background-color: #3ecfd4;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
}

/* modal menu */
.modal-menu__container{
    position: fixed;
    inset: 0;
    z-index: 11;
    /* display: none; */
}

.modal-menu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px 50px 70px;
    width: 485px;
    z-index: 11;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.modal-menu::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }

.menu-logo{
    margin-bottom: 18px;
}
.menu-logo__img{
    width: 204px;
    height: 65px;
}
.menu-content{
    margin-bottom: 50px;
}
.menu-content__img{
    max-width: 100%;
    height: auto;
}

.menu-text{
    font-size: 1.4rem;
    color: #6a6a6a;
    line-height: 2.2rem;
    margin: 10px 0;
    display: block;
}

.menu-destination{
    margin: 36px 0 42px;
}
.menu-destination__text{
    font-size: 1.8rem;
    color: var(--black-color);
    font-weight: 600;
    margin-bottom: 32px;
}
.menu-search__bar{
    display: flex;
    max-width: 252px;
    margin: auto;
}
.menu-search__input{
    border: none;
    outline: none;
    background: #ededed;
    flex: 1;
    padding: 12px 0 12px 15px;
    font-size: 1.4rem;
}

.menu-search__btn{
    border: none;
    border-radius: 0;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
}

.menu-footer__text{
    font-size: 1.8rem;
    color: var(--black-color);
    font-weight: 600;
    margin-bottom: 32px;
}

.menu-footer__wrap{
    max-width: 252px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menufooter__link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 12px;
}


/* container */
.container{
    margin-top: 80px;
}

/* slide vacation */

.slides-vacation__wrap{
    position: relative;
    overflow: hidden;
}

.slides-vacation{
    position: relative;
    display: flex;
    height: 420px;
    width: 200%;
    overflow: hidden;
    transition: margin 0.2s linear;
}

.slide-vacation{
    height: 420px;
    position: relative;
    overflow: hidden;
}

.slide-vacation__img{
    width: 100%;
    height: 100%;
    animation: scale ease-in-out 5s 8 alternate;
    object-fit: cover;
}

.slide-vacation__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    animation: textUp ease-out 1s;

    /* no can copy text */
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

.slide-vacation__content-top{
    /* position: absolute;
    top: 113px; */
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: var(--white-color);
    font-family: Satisfy, cursive;
}

.slide-vacation__content-center{
    font-size: 11.8rem;
    line-height: 15.8rem;
    font-weight: 600;
    display: block;
    color: var(--white-color);
}

.slide-vacation__content-bottom{
    font-size: 1.9rem;
    text-align: center;
    color: var(--white-color);
    line-height: 2.5rem;
    width: 50%;
}

.slide-vacation__input{
    position: absolute;
}

.slide-vacation__btn-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 4rem;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--primary-color);
    background: #fff;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    transition: background-color linear 0.2s;
    z-index: 3;
}

.slide-vacation__btn-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 4rem;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--primary-color);
    background: #fff;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    transition: background-color linear 0.2s;
    z-index: 2;
}

#nextSlide:checked ~ .slides-vacation{
    margin-left: 0;
}

#preSlide:checked ~ .slides-vacation{
    margin-left: -100%;
}

.slide-vacation__btn-left:hover,
.slide-vacation__btn-right:hover{
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* slide active */
.slides-active{
    position: relative;
}

.slides-active__wrap{
    width: 200%;
    display: flex;
    flex-wrap: nowrap !important;
    margin-top: 24px;
    margin-bottom: 30px;
    margin: 10px 0 30px 0;
}
.slide-active{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}
.slide-active__first{
    /* animation: nextSlide ease-in-out 30s infinite; */
}
.slide-active__header{
    display: flex;
    flex-direction: column;
}

.slide-active__header-link{
    width: 100%;
    overflow: hidden;
    height: 194.84px;
}

.slide-active__img{
    width: 100%;
    height: 100%;
    transition:  transform linear 0.25s;
    object-fit: cover;
}
.slide-active__place{
    background-color: var(--primary-color);
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 3.5rem;
    width: 100%;
}

.slide-active__place-icon{
    padding: 0 10px 0 20px;
}

.slide-active__content{
    padding: 20px;
}

.slide-active__content-link{
    outline: none;
    text-decoration: none;
    color: var(--black-color);
}

.slide-active__name{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.slide-active__name:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.slide-active__description{
    font-size: 1.4rem;
    line-height: 2rem;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    cursor: default;
}
.slide-active__bottom{
    display: flex;
    margin-top: 10px;
    font-weight: 600;
    opacity: 0.9;
    cursor: default;
}
.slide-active__price{
    font-size: 1.4rem;
    margin-right: 20px;
}
.slide-active__evalute{
    display: flex;  
    font-size: 1.4rem;
}

.slide-active__evalute-star{
    margin-right: 8px;
    stop-color: #333;
}
.slide-active__evalute-score{
    margin-right: 8px;
}

.slide-active__header-link:hover .slide-active__img{
    transform: scale(1.05);
}


.navigation{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-44%);
    z-index: 2;
}
.navigation-btn{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
}



.navigation-color{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-44%);
    z-index: 1;
}

.radio{
    visibility: hidden;
    position: absolute;
}
#radio1:checked ~ .slide-active__first{
    margin-left: 0% ;
    transition: margin ease-in-out 0.8s;
}
#radio2:checked ~ .slide-active__first{
    margin-left: calc(-16.6667% );
    transition: margin ease-in-out 0.8s;
}

.navigation-color__1,
.navigation-color__2{
    background-color: var(--primary-color);
    filter: brightness(160%);
}

#radio1:checked ~ .navigation-color .navigation-color__1{
    background-color: var(--primary-color);
    filter: brightness(90%);
}
#radio2:checked ~ .navigation-color .navigation-color__2{
    background-color: var(--primary-color);
    filter: brightness(90%);
}

.navigation-btn__1:hover,
.navigation-btn__2:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    filter: brightness(90%);
}

/* review */

.review-tour__header{
    margin: 156px 0 48px;
    text-align: center;
}
.review-tour__tagline{
    font-size: 3.3rem;
    font-family: Satisfy,cursive;
    color: var(--primary-color);
}
.review-tour__heading{
    font-size: 6.5rem;
    line-height: 8.5rem;
    margin: 0;
}
.review-tour__content{
    width: 723px;
    margin: auto;
}



.review-tour__img{
    max-width: 100%;
    cursor: pointer;
}

.video-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 13;
    display: none;
}
.review-tour__video{
    position: relative;
}

.video-modal__video{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

.review-tour__video-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height linear 0.1s, width linear 0.1s;
}

.img-video:hover .review-tour__video-icon{
    width: 55px;
    height: 55px;
}

.review-tour__video-icon i {
    margin-left: 3px;
    cursor: pointer;
}

.review-tour__text{
    margin-top: 38px;
    font-size: 1.4rem;
    color: var(--text-blur-color);
    display: block;
    text-align: center;
    line-height: 2.2rem;
}

.review-tour__btn-father{
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 32px;
}
.review-tour__btn{
    outline: none;
    border: none;
    padding: 18px 66px;
    text-align: center;
    font-size: 1.3rem;
    color: var(--white-color);
    background: var(--primary-color);
    cursor: pointer;
}

/* comment tour */
.comment-tours{
    background: url(../img/slide-vacation-2.jpg) no-repeat right top / cover;
    width: 100%;
    position: relative;
    padding: 100px 0;
}

.comment-tours__content-row{
    align-items: center;
    justify-content: center;
}

.comment-tours__content{
    color: var(--white-color);
    text-align: center;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-tours__content-heading{
    font-size: 6.5rem;
    line-height: 6.5rem;
}

.comment-tours__content-title{
    font-size: 1.7rem;
    width: 50%;
    line-height: 2.5rem;
    margin: 12px auto 0;
}

.comment-tour-users{
    display: flex;
    flex-wrap: nowrap !important;
}

.comment-tour__user{
    display: flex;
    background: var(--white-color);
    border-radius: 10px;
    padding: 40px 36px;
    height: 230px;
    flex-shrink: 0;
}   

.comment-tour__user-avt{
    flex-shrink: 0;
    margin-right: 20px;
}

.comment-tour__user-wrap{
}

.comment-tour__user-place{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
    color: var(--black-color);
    display: block;
    transition: color ease-in-out 0.2s;
}

.comment-tour__user-place span:hover{
    color: var(--primary-color);
}

.comment-tour__user-evaluate{
    color: var(--primary-color);
    font-size: 1.4rem;
}

.comment-tour__user-msg{
    font-size: 1.4rem;
    margin-top: 20px;
}

.comment-tour__user-name{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
}

.comment-tours__btn{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-44%);
    z-index: 2;
}

.comment-tours__btn-left,
.comment-tours__btn-center,
.comment-tours__btn-right{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 0 8px;
}

/* Enjoy your vacation */
.enjoy-vacation{
    padding: 140px 0 68px !important;
    text-align: center;
}
.enjoy-vacation__tagline{
    font-size: 5.3em;
    font-family: Satisfy,cursive;
    color: var(--primary-color);
}
.enjoy-vacation__title{
    font-size: 6.5rem;
}
.enjoy-vacation__text{
    width: 65%;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: var(--text-blur-color);
    margin: 0 auto;
}

/* Choose activity */
.choose-activity{
    display: flex;
    text-align: center;
    padding-bottom: 160px;
}

.choose-activity__img{
    transform: translateY(0);
    transition: 0.2s;
}
.choose-activity__img:hover {
    transform: translateY(-10px);
}

.choose-activity__row{
    width: 100%;
    justify-content: space-evenly;
}

.choose-activity__place{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-color);
    padding-top: 28px;
}
.choose-activity__text{
    font-size: 1.4rem;
    color: var(--text-blur-color);
    margin-top: 12px;
    line-height: 2.2rem;
}

/* Team coach */
.team-coach{
    margin-bottom: -6px;
}
.coach{
    overflow: hidden;
    position: relative;
}

.coach-img{
    max-width: 100%;
}

.coach:hover .coach-content{
    height: 168px;
}

.coach-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 168px;
    background-color: var(--primary-color);
    color: var(--white-color);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
    cursor: default;
    height: 0;
    transition: height  ease-in-out 0.4s;
}

.coach-content__name{
    font-size: 1.8rem;
}

.coach-content__msg{
    width: 85%;
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-align: center;
    margin: 0 auto;
}   

.coach-content__navigation{
    font-size: 1.8rem;
    margin-top: 18px;
}

.coach-content__navigation-icon{
    color: var(--white-color);
    margin: 0 12px;
}

.coach-content__navigation-icon:hover{
    cursor: pointer;
    color: var(--primary-color);
    filter: brightness(80%);
}

/* information */
.information{
    background-color: var(--primary-color);
    filter: brightness(92%);
    min-height: 248px;
}
.information-wrap{
    display: flex;
    justify-content: space-around;
}

.information-wrap__row{
    width: 100%;
    justify-content: space-evenly;
}

.information-statistical{
    min-width: 252px;
    text-align: center;
    color: var(--white-color);
    padding: 50px 0;
    
}
.information-statistical__quantity{
    font-size: 6.5rem;
}
.information-statistical__title{
    font-size: 1.8rem;
}


.enjoy-vacation.enjoy-vacation--padding{
    padding:100px 0 0 0;
}

/* location */
.location{
    display: flex;
    margin-bottom: 80px;
}
.row-1130{

}
.location-wrap{
    width: calc(100% / 3);
    padding: 40px;
    position: relative;
}

.location-wrap__img{
    max-width: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    filter: brightness(80%);
}

.location-wrap__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white-color);
    font-family: Satisfy,cursive;
    font-size: 4.8rem;
    margin: 0;
    font-weight: 100;
}
.location.row-1130{

}


/* footer top */
.footer{
    background-color: var(--black-color);
    padding: 100px 80px 0;
}

.footer-top{
   display: flex;
}

.footer-wrap{
    
}

.footer-logo{
    max-width: 100%;
    margin-bottom: 20px;
}

.footer-wrap__tagline{
    color: var(--footer-color);
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 28px;
    line-height: 2.4rem;
}

.footer-contact{
    color: var(--white-color);
    font-size: 1.4rem;
}

.footer-contact__icon{
    margin-right: 14px;
}

.footer-contact__link:nth-child(3) .footer-contact__icon{
    width: 1.4rem;
}

.footer-contact__link{
    margin-bottom: 12px;
    color: var(--white-color);
    text-decoration: none;
    outline: none;
    display: block;
    transition:  0.1s linear;
}

.footer-contact__link:hover{
    color: var(--primary-color);
}

.footer-post{
    color: var(--white-color);
}
.footer-post__heading{
    font-size: 1.8rem;
    margin: 0;
}
.footer-post__place-link{
    font-size: 1.4rem;
    color: var(--footer-color);
    text-decoration: none;
    outline: none;
    display: block;
    margin-top: 30px;
    transition: 0.1s linear;

}
.footer-post__time-link{
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    outline: none;
    color: var(--white-color);
    margin-top: 12px;
    transition: 0.1s linear;
}

.footer-post__place-link:hover,
.footer-post__time-link:hover{
    color: var(--primary-color);
}

.footer-subscribe__heading{
    margin: 0 0 24px;
    font-size: 1.8rem;
    color: var(--white-color)
}

.footer-subscribe__title{
    color: var(--footer-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 10px 0 35px;
}

.footer-subscribe__input{
    flex: 1;
}

.footer-subscribe__input-name,
.footer-subscribe__input-mail{
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 14px;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--white-color);
    /* background-color: #595959; */
}

.footer-subscribe__input-btn{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 14px 42px;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: bold;
    transition: 0.1s linear;
}

.footer-subscribe__input-btn:hover{
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
}

.footer-ins{
}

.footer-ins__heading{
    margin: 0;
    font-size: 1.8rem;
    color: var(--white-color);
}

.footer-ins__title{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--footer-color);
    margin-top: 24px;
}


/* footer bottom */
.footer-bottom{
    margin-top: 100px;
    padding: 30px;
    font-size: 1.3rem;
    text-align: center;
}

.footer-bottom span{
    color: var(--footer-color);
}

.footer-bottom__link{
    color: var(--white-color);
    text-decoration: none;
    outline: none;
    padding: 12px 0;
}

.footer-bottom__link:hover{
    color: var(--primary-color);
}
